body {
  background-color: #76949F;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #75a093;
}

.user-links-1 {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #75a093;
}

.user-links-2 {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #75a093;
}

.loggedin-links-1 {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0rem;
  padding-right: 0rem;
  background-color: #75a093;
  color: #533747;
}

.loggedin-links-2 {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 0rem;
  background-color: #75a093;
}

.logged-in-user {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #75a093;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #6b7285;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 20%;
  height: auto;
}

.home-image {
  justify-self: center;
  height: 40rem;
  width: auto;
}

.home-detail-container {
  padding-top: 10px;
  text-align: center;
  color: antiquewhite;
}

.tent-card {
  text-align: center;
  border: #5f506b solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 21rem;
  display: center;
  margin: 1rem 2rem;
  box-shadow: 2px 2px 5px 2px #5f506b;
}

.tent-card-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tent-card-img-top {
  justify-self: center;
  height: 10rem;
  width: auto;
}

.tent-card-title {
  color: #faf3e9;
  padding-top: 10px;
}

.single-tent-card-container {
  display: flex;
  justify-content: center;
}

.single-tent-card {
  text-align: center;
  border: #5f506b solid 1px;
  padding: 1rem;
  width: 45rem;
  height: 75rem;
  display: center;
  margin: 1rem 2rem;
  box-shadow: 2px 2px 5px 2px #5f506b;
}

.single-tent-card-img-top {
  justify-self: center;
  height: 22rem;
  width: auto;
}

.single-tent-card-img-bottom {
  justify-self: center;
  height: 20rem;
  width: auto;
}

.single-tent-card-map {
  color: #faf3e9;
}

.single-tent-card-title {
  color: #faf3e9;
  padding-top: 10px;
}

.single-tent-card-text {
  color: #533747;
  padding-right: 100px;
  padding-left: 100px;
}

.visit-card {
  text-align: center;
  border: #5f506b solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 24rem;
  display: center;
  margin: 1rem 2rem;
  box-shadow: 2px 2px 5px 2px #5f506b;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.expanded {
  height: auto;
}

.visit-card-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.visit-card-text {
  color: #faf3e9;
  padding-top: 10px;
}

.visit-card-info {
  color: #6B7285;
  text-decoration-line: underline;
}

.error-message {
  color: #973535;
  padding-top: 20px;
}

.yup-error {
  color: #973535;
  padding-top: 40px;
}

.yup-error-edit {
  color: #973535;
}

.about-heading {
  color: #faf3e9;
  padding-top: 50px;
  text-align: center;
}

.about-1 {
    color: #faf3e9;
    padding-left: 50px;
    padding-right: 50px;
}

.about-2 {
  color: #faf3e9;
  padding-left: 50px;
  padding-right: 50px;
}

.about-3 {
  color: #faf3e9;
  padding-left: 50px;
  padding-right: 50px;
}

.about-4 {
  color: #faf3e9;
  padding-left: 50px;
  padding-right: 50px;
}

.about-5 {
  color: #faf3e9;
  padding-left: 50px;
  padding-right: 50px;
}

.sources-header {
  color: #faf3e9;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  text-decoration-line: underline;
}

.sources {
  color: #faf3e9;
  word-wrap: break-word;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.about-layout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.about-left-section, .about-right-section {
  flex: 1;
}

.about-left-image, .about-right-image {
  max-width: 100%;
}

.about-left-image-text, .about-right-image-text {
  color: #faf3e9;
  text-align: center;
}
.about-center-section {
  flex: 2;
  text-align: center;
  max-width: 60%;
}

.form-group {
  color: #faf3e9;
  width: 100%;
}

.signup-title {
  color: #faf3e9;
  text-align: center;
}

.signin-title {
  color: #faf3e9;
  text-align: center;
}

.new-visit-title {
  color: #faf3e9;
  text-align: center;
}

.layout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-section, .right-section {
  flex: 1;
}

.left-image, .right-image {
  max-width: 100%;
}

.left-image-text, .right-image-text {
  color: #faf3e9;
  text-align: center;
}
.center-section {
  flex: 2;
  text-align: center;
}

.main-tent-page-header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 150px;
  padding-right: 150px;
  color: #faf3e9;
  text-align: center;
}

.main-visits-page-header{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 150px;
  padding-right: 150px;
  color: #faf3e9;
  text-align: center;
}

.main-visits-page-header-2{
  padding-left: 150px;
  padding-right: 150px;
  color: #faf3e9;
  text-align: center;
}

.main-visits-text{
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 0px;
  color: #faf3e9;
  text-align: center;
}

.search-sort-container {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #faf3e9;
  flex: 1;
}

.sort-dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #faf3e9;
  flex: 1;
}

.visits-list {
  text-align: center;
  color: #faf3e9;
}

.ul {
  padding-left: 0;
}

.table {
  color: #533747;
  background-color: #86bbbd;
}

.btn-primary {
  margin-top: 20px;
  margin-bottom: 5px;
}