body {
  background-color: #76949F;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #75a093;
  /* border: rgb(119, 53, 53) solid 1px; */
}

.user-links-1 {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #75a093;
  /* border: rgb(119, 53, 53) solid 1px; */
}

.user-links-2 {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #75a093;
  /* border: rgb(119, 53, 53) solid 1px; */
}

.loggedin-links-1 {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0rem;
  padding-right: 0rem;
  background-color: #75a093;
  color: #533747;
  /* border: rgb(119, 53, 53) solid 1px; */
}

.loggedin-links-2 {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 0rem;
  background-color: #75a093;
  /* border: rgb(119, 53, 53) solid 1px; */
}

.logged-in-user {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #75a093;
  /* border: rgb(119, 53, 53) solid 1px; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #6B7285;
  /* border: rgb(119, 53, 53) solid 1px; */
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 20%;
  height: auto;
}

.home-image {
  justify-self: center;
  height: 40rem;
  width: auto;
}

.home-detail-container {
  padding-top: 10px;
  text-align: center;
  color: antiquewhite;
}

.tent-card {
  text-align: center;
  border: #5f506b solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 20rem;
  display: center;
  margin: 1rem 2rem;
  box-shadow: 2px 2px 5px 2px #5f506b;
}

.tent-card-container{
  /* border: rgb(119, 53, 53) solid 1px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tent-card-img-top {
  justify-self: center;
  height: 10rem;
  width: auto;
}

.tent-card-title {
  color: #faf3e9;
  padding-top: 10px;
}

.single-tent-card-container {
  /* border: rgb(119, 53, 53) solid 1px; */
  display: flex;
  justify-content: center;
}

.single-tent-card {
  text-align: center;
  border: #5f506b solid 1px;
  padding: 1rem;
  width: 40rem;
  height: 40rem;
  display: center;
  margin: 1rem 2rem;
  box-shadow: 2px 2px 5px 2px #5f506b;
}

.single-tent-card-img-top {
  justify-self: center;
  height: 22rem;
  width: auto;
}

.single-tent-card-title {
  color: #faf3e9;
  padding-top: 10px;
}

.single-tent-card-text {
  color: #533747;
  padding-right: 100px;
  padding-left: 100px;
}

.visit-card {
  text-align: center;
  border: #5f506b solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 22rem;
  display: center;
  margin: 1rem 2rem;
  box-shadow: 2px 2px 5px 2px #5f506b;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.expanded {
  height: auto;
}

.visit-card-container{
  /* border: rgb(119, 53, 53) solid 1px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* .visit-card-container-on-tents {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */

/* .vist-card-on-tents {
  text-align: center;
  border: #5f506b solid 1px;
  padding: 1rem;
  width: 50rem;
  height: 50rem;
  display: center;
  margin: 1rem 2rem;
  box-shadow: 2px 2px 5px 2px #5f506b;
} */

.visit-card-text {
  color: #faf3e9;
  padding-top: 10px;
}

.visit-card-info {
  color: #6B7285;
  text-decoration-line: underline;
}

.error-message {
  color: #973535;
  padding-top: 20px;
}

.yup-error {
  color: #973535;
  padding-top: 40px;
}

.yup-error-edit {
  color: #973535;
}

.about-heading {
  color: #faf3e9;
  padding-top: 10px;
  text-align: center;
}

.about-1 {
    color: #faf3e9;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.about-2 {
  color: #faf3e9;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.about-3 {
  color: #faf3e9;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.about-4 {
  color: #faf3e9;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.about-5 {
  color: #faf3e9;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.sources-header {
  color: #faf3e9;
  padding-top: 50px;
  text-align: center;
  text-decoration-line: underline;
  padding-left: 100px;
  padding-right: 100px;
}

.sources {
  color: #faf3e9;
  word-wrap: break-word;
  padding-left: 100px;
  padding-right: 100px;
}

.form-group {
  color: #faf3e9;
}

.signup-title {
  color: #faf3e9;
  text-align: center;
}

.signin-title {
  color: #faf3e9;
  text-align: center;
}

.signin-form-container {
  text-align: center;
}

.main-tent-page-header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 150px;
  padding-right: 150px;
  color: #faf3e9;
  text-align: justify;
  text-justify: inter-word;
}

.main-vists-page-header{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 150px;
  padding-right: 150px;
  color: #faf3e9;
  text-align: justify;
  text-justify: inter-word;
}

.visits-list {
  text-align: center;
  color: #faf3e9;
}

.ul {
  padding-left: 0;
}

.table {
  color: #533747;
  background-color: #86bbbd;
}